/*------------------------------------*\
    Imports
\*------------------------------------*/
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/zoom';
@import 'partials/map';

/*------------------------------------*\
    General
\*------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	touch-action: none;
	width: 100%;
	position: fixed;
	overflow: hidden;
}

body {
	overscroll-behavior-x: none;
	touch-action: none;
	display: flex;
	flex-wrap: nowrap;
	// overflow-x: auto;
	overflow: scroll;
	font-size: 1.4rem;
	background-color: #222426;
	overflow: hidden;
}

// hr {
// 	width: calculateRem(350px);
// 	background: #ffdc25;
// 	height: calculateRem(2px);
// 	border: none;
// 	position: absolute;
// 	top: calculateRem(115px);
// }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Sailec", Helvetica, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: inherit;
}

.slide-right {
	-webkit-animation: slide-right 3s linear infinite both;
	animation: slide-right 3s linear infinite both;
	overflow: hidden;
	border-bottom: 1px solid white;
}

@keyframes slide-right {
	0% {
		-webkit-transition: width 1s ease-in-out;
		-moz-transition: width 1s ease-in-out;
		-o-transition: width 1s ease-in-out;
		transition: width 1s ease-in-out;

		width: 0;
	}

	100% {
		-webkit-transition: width 1s ease-in-out;
		-moz-transition: width 1s ease-in-out;
		-o-transition: width 1s ease-in-out;
		transition: width 1s ease-in-out;

		width: 90%;
	}
}

/*------------------------------------*\
    Pre-loader
\*------------------------------------*/
#pre-loader-container {
	width: 100vw;
	height: 100vh;
	padding: calculateRem(50px);
	// position: absolute;
	z-index: 1000;
	background-color: #fcaf45;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	position: fixed;

	// TODO remove below
	// visibility: hidden;
	// opacity: 0;
	// display: none;
}

#pre-loader-logo {
	z-index: 100;
	fill: white;
	// stroke:red; 
	width: 80%;
	height: 100%;
	margin: 0 auto;
	// opacity:0;  
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	// width: 100%;
	height: 100%;
	padding-left: calculateRem(10px);
}

// #pre-loader {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position:absolute;
//   top:40px;
//   left:40px;
//   width:160px;
//   height:230px;
//   z-index:1;
//   overflow: hidden;
// }

.preloader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1000;
	background-color: #fcaf45;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: calculateRem(150px);
	height: 100%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	height: 30%;
	border-bottom: 5px solid white;
	opacity: 0;
}

.content {
	position: absolute;
	padding-bottom: 1px;
	// margin-bottom: calculateRem(50px);
	box-sizing: border-box;
	width: 100%;
	height: 0;
	bottom: 0;
	overflow: hidden;
}

/*------------------------------------*\
    Menu
\*------------------------------------*/
#nav {
	z-index: 100;
	position: fixed;
	opacity: 0;
	width: calculateRem(46px);
	height: calculateRem(46px);
	top: calculateRem(20px);
	right: calculateRem(20px);

	@include breakpoint(x-small) {
		width: calculateRem(56px);
		height: calculateRem(56px);
		top: calculateRem(50px);
		right: calculateRem(50px);
	}

	#nav-icon {
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 1);
		border-radius: 100%;
		position: relative;
		cursor: pointer;
		transition-duration: 0.2s;
		border: calculateRem(2px) solid white;
		box-sizing: content-box;

		&:hover {
			border: calculateRem(2px) solid #dab056;
		}

		#line-one,
		#line-two {
			margin-right: auto;
			margin-left: auto;
			border-radius: calculateRem(10px);
			position: absolute;
			z-index: 2;
			display: block;
			background-color: #cea142;
		}

		#line-one {
			left: calculateRem(0px);
			top: calculateRem(22px);
			right: calculateRem(0px);
			width: calculateRem(30px);
			height: calculateRem(4px);

			@include breakpoint(x-small) {
				top: calculateRem(27px);
			}
		}

		#line-two {
			left: calculateRem(0px);
			top: calculateRem(9px);
			right: calculateRem(0px);
			width: calculateRem(4px);
			height: calculateRem(30px);

			@include breakpoint(x-small) {
				top: calculateRem(14px);
			}
		}
	}
}

#nav-items {
	background-color: #fff;
	min-height: calc(100vh - #{calculateRem(0px)});
	max-height: 100vh;
	// width: calc(100vw - #{calculateRem(0px)});
	width: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 auto;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;

	ul {
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: space-between;
		max-height: 65vh;

		li {
			display: block;

			a {
				text-align: center;
				color: black;
				cursor: pointer;

				&:hover {
					text-decoration: line-through;
				}
			}
		}
	}
}

/*------------------------------------*\
    Logo
\*------------------------------------*/
#logo-container {
	z-index: 100;
	position: fixed;
	overflow-y: hidden;
	width: calculateRem(55px);
	height: calculateRem(70px);
	top: calculateRem(20px);
	left: calculateRem(20px);

	@include breakpoint(x-small) {
		width: calculateRem(60px);
		height: calculateRem(80px);
		top: calculateRem(50px);
		left: calculateRem(50px);
	}

	.logo-underline {
		margin: 0 auto;
		height: calculateRem(5px);
		background-color: #fff;
		border: none;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 0;
	}
}

#logo {
	z-index: 100;
	fill: white;
	width: 100%;
	position: absolute;
	// top: calculateRem(80px);
	overflow : visible;
	opacity: 0;

	@include breakpoint(x-small) {
		// top: calculateRem(80px);
	}
}

/*------------------------------------*\
    Pages
\*------------------------------------*/

section {
	min-height: calc(100vh - #{calculateRem(0px)});
	max-height: 100vh;
	width: calc(100vw - #{calculateRem(0px)});
	padding: calculateRem(20px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 auto;
	position: relative;
	// background-color: $color-900;

	// &:nth-child(odd) {
	// 	background-color: $color-700;
	// }

	@include breakpoint(x-small) {
		padding: calculateRem(20px);
	}

	@include breakpoint(small) {
		padding: calculateRem(20px);
	}

	@include breakpoint(medium) {
		padding: calculateRem(40px);
	}
}

/*------------------------------------*\
    Text-block
\*------------------------------------*/
.text-block {
	// position: absolute;
	text-align: left;
	max-width: 80%;
	position: relative;
	color: white;
	margin-left: calculateRem(20px);

	@include breakpoint(x-small) {
		max-width: 70%;
	}

	@include breakpoint(small) {
		max-width: 59%;
	}

	@include breakpoint(medium) {
		max-width: 55%;
	}

	@include breakpoint(large) {
		max-width: 45%;
	}

	.text-container {
		overflow: hidden;
		height: auto;

		.knockout-text {
			text-align: left;
			// padding-bottom: calculateRem(12px);
			line-height: 1;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: transparent;
			font-weight: 900;
			-webkit-text-stroke: 1px white;
			transform: matrix(1, 0, 0, 1, 0, 500);
		}

		.subline-text {
			text-align: left;
			font-weight: 600;
			text-transform: uppercase;
			// margin:#{calculateRem(-20px)} 0 0 0;
			margin: 0;
			transform: matrix(1, 0, 0, 1, 0, 500);
		}

		.aside-text {
			text-align: left;
			text-transform: uppercase;
			margin: 0;
			transform: matrix(1, 0, 0, 1, 0, 50);
		}

		&--aside {
			position: absolute;
			// left:calculateRem(-10px);
			bottom: calculateRem(5px);
			transform: rotate(-90deg);
			transform-origin: bottom left;
			// height: 50px;
		}
	}

}

/*------------------------------------*\
    vertical-overflow-slider
\*------------------------------------*/
.vertical-overflow-slider {
	max-width: 30%;
	display: flex;
	right: 5%;
	position: absolute;
	display: flex;
	flex-direction: row;
	max-height: 100vh;
	overflow: hidden;
	justify-content: space-between;

	.vertical-overflow-slider-column {
		display: flex;
		flex-direction: column;

		&:nth-child(even) {
			margin-top: calculateRem(100px);
		}
	}

	.iphones {
		max-width: 80%;

		#iphones-col-1,
		#iphones-col-2 {
			width: 100vh;
		}

		img {
			max-width: 100%;
			width: 100%;
			margin-bottom: calculateRem(70px);
		}
	}
}

/*------------------------------------*\
    Home page
\*------------------------------------*/
#home {
	background-color: #222426;

	.text-block {
		// position: absolute;
		text-align: left;
		max-width: 80%;
		position: relative;

		@include breakpoint(x-small) {
			max-width: 70%;
		}

		@include breakpoint(small) {
			max-width: 59%;
		}

		@include breakpoint(medium) {
			max-width: 55%;
		}

		@include breakpoint(large) {
			max-width: 45%;
		}
	}

	.intro__scroll {
		text-transform: uppercase;
		font-size: calculateRem(12px);
		letter-spacing: 0.2em;
		font-weight: 700;
		color: white;
		padding-top: calculateRem(50px);
		font-family: roboto;
		position: absolute;
		bottom: calculateRem(40px);
		// left: calculateRem(100px);
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
	}
}

/*------------------------------------*\
    About page
\*------------------------------------*/
#about {
	background-color: #d4a39f;
	// margin-left: 100vw;

	.text-block {
		max-width: 60%;

		@include breakpoint(x-small) {
			max-width: 60%;
		}

		@include breakpoint(small) {
			max-width: 60%;
		}	
	}
}

/*------------------------------------*\
    Window section
\*------------------------------------*/


#video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* object-fit: cover; */
  /* position: fixed; */
  left: 0px;
  top: 0px;
}

#window {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding:0;
	width: 100vh;
	min-width: 500px;
	background-color: #1cb3aa;
}

/*------------------------------------*\
    Image
\*------------------------------------*/

#image {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	padding: 0;
	width: 50%;
}

/*------------------------------------*\
    Values page
\*------------------------------------*/
#projects {
	background-color: #1cb3aa;
	width: calc(450vw - #{calculateRem(0px)});

	@include breakpoint(x-small) {
		width: calc(300vw - #{calculateRem(0px)});
		min-width: calculateRem(1500px);
	}

	@include breakpoint(small) {
		width: calc(250vw - #{calculateRem(0px)});
	}

	@include breakpoint(medium) {
		width: calc(200vw - #{calculateRem(0px)});
	}

	@include breakpoint(large) {
		width: calc(150vw - #{calculateRem(0px)});
	}

	.value-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		// justify-content: space-between;
		flex-wrap: nowrap;
		flex: 0 0 auto;
		width: 100%;
		padding: 0 calculateRem(100px);

		.text-block {
			min-width: calculateRem(220px);

			@include breakpoint(small) {
				width: 80%;
			}

			@include breakpoint(medium) {
				width: 80%;
			}

			@include breakpoint(large) {
				width: calculateRem(500px);
			}
		}

		.left {
			left: 15%;

			@include breakpoint(x-small) {
				left: 20%;
			}

			@include breakpoint(small) {
				left: 25%;
			}

			@include breakpoint(medium) {
				left: 10%;
			}

			@include breakpoint(large) {
				left: 10%;
			}
		}
	}

	.projects {
		width: auto;
		display: table;
		padding: calculateRem(20px);

		a {
			font-size: calculateRem(40px);
			font-weight: 500;
		}

		.project {
			padding: calculateRem(60px);
		}

		.flex-grid {
			display: flex;
		}

		.flex-grid .col {
			flex: 1;
		}

		.flex-grid-thirds {
			display: flex;
			justify-content: space-between;
		}

		.flex-grid-thirds .col {
			width: 32%;
		}

	}

	@media (max-width: 400px) {

		.flex-grid,
		.flex-grid-thirds {
			display: block;

			.col {
				width: 100%;
				margin: 0 0 calculateRem(10px) 0;
			}
		}
	}
}

/*------------------------------------*\
    Contact page
\*------------------------------------*/

#contact {
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background-color: #1573bb;

	.text-block {
		position: static;

		@include breakpoint(large) {
			max-width: 70%;
			left: 10%;
		}

		.subline-text {
			text-align: left;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1;
			// margin:#{calculateRem(-20px)} 0 0 0;
			margin: calculateRem(0px) 0 0 0;
		}

		p {
			text-align: left;
			line-height: 1.4;
			font-weight: normal;
			font-size: calculateRem(25px);

			b {
				font-weight: 900;
			}
		}
	}
}