/*------------------------------------*\
    Imports
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  line-height: 1;
}

p,
a,
h1,
h2,
h3 {
  color: #eaecf7;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  letter-spacing: .05em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px transparent;
  text-rendering: optimizeLegibility;
}

a:hover {
  border-bottom: 1px solid white;
}

.big-text {
  font-size: 3.75rem;
}

@media (min-width: 25rem) {
  .big-text {
    font-size: 5.625rem;
  }
}

@media (min-width: 37.5rem) {
  .big-text {
    font-size: 6.25rem;
  }
}

@media (min-width: 50rem) {
  .big-text {
    font-size: 7.5rem;
  }
}

@media (min-width: 64.375rem) {
  .big-text {
    font-size: 8.75rem;
  }
}

@media (min-width: 85rem) {
  .big-text {
    font-size: 10rem;
  }
}

.med-text {
  font-size: 2.1875rem;
}

@media (min-width: 25rem) {
  .med-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 37.5rem) {
  .med-text {
    font-size: 3.125rem;
  }
}

@media (min-width: 85rem) {
  .med-text {
    font-size: 4.375rem;
  }
}

.small-text {
  font-size: 1.25rem;
}

@media (min-width: 25rem) {
  .small-text {
    font-size: 1.625rem;
  }
}

@media (min-width: 37.5rem) {
  .small-text {
    font-size: 2rem;
  }
}

@media (min-width: 85rem) {
  .small-text {
    font-size: 2.25rem;
  }
}

.text-align-left {
  text-align: left;
}

/*------------------------------------*\
    General
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

html {
  font-size: 62.5%;
}

/* =10px */
body {
  font-size: 1.4rem;
  background-color: #1a237e;
}

/* =14px */
h1 {
  font-size: 2.4rem;
}

/* =24px */
/*------------------------------------*\
    Pre-loader
\*------------------------------------*/
#pre-loader {
  width: 100vw;
  height: 100vh;
  padding: 3.125rem;
  z-index: 1000;
  background-color: #fcaf45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#pre-loader-logo {
  z-index: 100;
  fill: white;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  height: 90%;
}

/*------------------------------------*\
    Logo
\*------------------------------------*/
#logo-container {
  z-index: 100;
  width: 5.3125rem;
  height: 5.3125rem;
  position: fixed;
  top: 3.125rem;
  left: 3.125rem;
}

#logo {
  z-index: 100;
  fill: white;
  width: 100%;
}

/*------------------------------------*\
    Pages
\*------------------------------------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: scroll;
}

.page {
  min-height: calc(100vh - 0rem);
  max-height: 100vh;
  width: calc(100vw - 0rem);
  padding: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  background-color: #1a237e;
}

.page:nth-child(odd) {
  background-color: #303f9f;
}

@media (min-width: 25rem) {
  .page {
    padding: 3.75rem;
  }
}

@media (min-width: 37.5rem) {
  .page {
    padding: 4.375rem;
  }
}

@media (min-width: 50rem) {
  .page {
    padding: 10.625rem;
  }
}

/*------------------------------------*\
    Text-block
\*------------------------------------*/
.text-block {
  text-align: left;
  max-width: 80%;
  position: relative;
}

@media (min-width: 25rem) {
  .text-block {
    max-width: 70%;
  }
}

@media (min-width: 37.5rem) {
  .text-block {
    max-width: 59%;
  }
}

@media (min-width: 50rem) {
  .text-block {
    max-width: 55%;
  }
}

@media (min-width: 64.375rem) {
  .text-block {
    max-width: 45%;
  }
}

.text-block .text-container {
  overflow: hidden;
  height: auto;
}

.text-block .text-container .knockout-text {
  text-align: left;
  line-height: .9;
  letter-spacing: 1px;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  font-family: 'Playfair Display', serif;
}

.text-block .text-container .subline-text {
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.text-block .text-container .aside-text {
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}

.text-block .text-container--aside {
  position: absolute;
  bottom: 0.3125rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

/*------------------------------------*\
    vertical-overflow-slider
\*------------------------------------*/
.vertical-overflow-slider {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 5%;
  position: absolute;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-overflow-slider .vertical-overflow-slider-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical-overflow-slider .vertical-overflow-slider-column:nth-child(even) {
  margin-top: 6.25rem;
}

.vertical-overflow-slider .iphones {
  max-width: 80%;
}

.vertical-overflow-slider .iphones img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 4.375rem;
}

/*------------------------------------*\
    Home page
\*------------------------------------*/
#home {
  background-color: #222426;
  position: fixed;
  z-index: -2;
}

#home .text-block {
  text-align: left;
  max-width: 80%;
  position: relative;
}

@media (min-width: 25rem) {
  #home .text-block {
    max-width: 70%;
  }
}

@media (min-width: 37.5rem) {
  #home .text-block {
    max-width: 59%;
  }
}

@media (min-width: 50rem) {
  #home .text-block {
    max-width: 55%;
  }
}

@media (min-width: 64.375rem) {
  #home .text-block {
    max-width: 45%;
  }
}

/*------------------------------------*\
    About page
\*------------------------------------*/
#about {
  background-color: #d4a39f;
  margin-left: 100vw;
}

/*------------------------------------*\
    Values page
\*------------------------------------*/
#values {
  background-color: #1cb3aa;
  width: calc(340vw - 0rem);
}

@media (min-width: 25rem) {
  #values {
    width: calc(300vw - 0rem);
  }
}

@media (min-width: 37.5rem) {
  #values {
    width: calc(250vw - 0rem);
  }
}

@media (min-width: 50rem) {
  #values {
    width: calc(220vw - 0rem);
  }
}

@media (min-width: 64.375rem) {
  #values {
    width: calc(150vw - 0rem);
  }
}

#values .value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

#values .value-container .text-block {
  width: 80vw;
}

@media (min-width: 25rem) {
  #values .value-container .text-block {
    width: 75vw;
  }
}

@media (min-width: 37.5rem) {
  #values .value-container .text-block {
    width: 80%;
  }
}

@media (min-width: 50rem) {
  #values .value-container .text-block {
    width: 80%;
  }
}

@media (min-width: 64.375rem) {
  #values .value-container .text-block {
    width: 40%;
  }
}

#values .value-container #logo-overlay-cont {
  position: relative;
  width: 200vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("https://placeimg.com/640/480/any");
  background-size: cover;
}

@media (min-width: 25rem) {
  #values .value-container #logo-overlay-cont {
    width: 160vw;
  }
}

@media (min-width: 37.5rem) {
  #values .value-container #logo-overlay-cont {
    width: 125vw;
  }
}

@media (min-width: 50rem) {
  #values .value-container #logo-overlay-cont {
    width: 100vw;
  }
}

@media (min-width: 64.375rem) {
  #values .value-container #logo-overlay-cont {
    width: 80vw;
  }
}

#values .value-container #logo-overlay-cont #logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 146%;
}

#values .value-container #logo-overlay-cont #image-underlay {
  position: absolute;
  height: 100vh;
}

#values .value-container .left {
  left: 15%;
}

@media (min-width: 25rem) {
  #values .value-container .left {
    left: 20%;
  }
}

@media (min-width: 37.5rem) {
  #values .value-container .left {
    left: 25%;
  }
}

@media (min-width: 50rem) {
  #values .value-container .left {
    left: 10%;
  }
}

@media (min-width: 64.375rem) {
  #values .value-container .left {
    left: 10%;
  }
}

/*------------------------------------*\
    Contact page
\*------------------------------------*/
#contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1573bb;
}

#contact .text-block {
  position: static;
}

@media (min-width: 64.375rem) {
  #contact .text-block {
    max-width: 70%;
    left: 10%;
  }
}

#contact .text-block .subline-text {
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin: 0rem 0 0 0;
}

#contact .text-block p {
  text-align: left;
  line-height: 1.4;
  font-weight: normal;
  font-size: 1.5625rem;
}

#contact .text-block p b {
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */