/*------------------------------------*\
    Imports
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
/*------------------------------------*\
    Functions
\*------------------------------------*/
/*------------------------------------*\
    Variables
\*------------------------------------*/
h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

p,
a,
h1,
h2,
h3 {
  color: #eaecf7;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  letter-spacing: .05em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px transparent;
  text-rendering: optimizeLegibility;
}

.big-text {
  font-size: 10.625rem;
}

.med-text {
  font-size: 4.375rem;
}

.small-text {
  font-size: 2.25rem;
}

.text-align-left {
  text-align: left;
}

/*------------------------------------*\
    General
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

html {
  font-size: 62.5%;
}

/* =10px */
body {
  font-size: 1.4rem;
  background-color: #1a237e;
}

/* =14px */
h1 {
  font-size: 2.4rem;
}

/* =24px */
/*------------------------------------*\
    Pre-loader
\*------------------------------------*/
#pre-loader {
  width: 100vw;
  height: 100vh;
  padding: 3.125rem;
  position: absolute;
  z-index: 1000;
  background-color: #1a237e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#pre-loader-logo {
  z-index: 100;
  fill: white;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  width: 70%;
}

/*------------------------------------*\
    Logo
\*------------------------------------*/
#logo-container {
  z-index: 100;
  width: 5.3125rem;
  height: 5.3125rem;
  position: fixed;
  top: 3.125rem;
  left: 3.125rem;
}

#logo {
  z-index: 100;
  fill: #c5cae9;
  width: 100%;
}

/*------------------------------------*\
    Pages
\*------------------------------------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
}

.page {
  min-height: calc(100vh - 0rem);
  max-height: 100vh;
  width: calc(100vw - 0rem);
  padding: 10.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  background-color: #1a237e;
}

.page:nth-child(odd) {
  background-color: #303f9f;
}

#values {
  width: calc(300vw - 0rem);
}

/*------------------------------------*\
    Text-block
\*------------------------------------*/
.text-block {
  position: absolute;
  text-align: left;
  max-width: 100%;
}

@media (min-width: 25rem) {
  .text-block {
    max-width: 50%;
  }
}

.text-block .text-container {
  overflow: hidden;
  height: auto;
}

.text-block .text-container .knockout-text {
  text-align: left;
  font-size: 10.625rem;
  line-height: .9;
  letter-spacing: 1px;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  font-family: 'Playfair Display', serif;
}

.text-block .text-container .subline-text {
  text-align: left;
  font-size: 4.375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.text-block .text-container .aside-text {
  text-align: left;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.text-block .text-container--aside {
  position: absolute;
  left: -0.625rem;
  bottom: 0.3125rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

/*------------------------------------*\
    vertical-overflow-slider
\*------------------------------------*/
.vertical-overflow-slider {
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 5%;
  position: absolute;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vertical-overflow-slider .vertical-overflow-slider-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical-overflow-slider .vertical-overflow-slider-column:nth-child(even) {
  margin-top: 6.25rem;
}

.vertical-overflow-slider .iphones {
  max-width: 80%;
}

.vertical-overflow-slider .iphones img {
  max-width: 100%;
  width: 100%;
  margin-bottom: 4.375rem;
}

/*------------------------------------*\
    Values page
\*------------------------------------*/
.value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

.value-container .value {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
/*# sourceMappingURL=style.css.map */